[submodule "revealjs"]
	path = revealjs
	url = https://github.com/hakimel/reveal.js
[submodule "plugins"]
	path = plugins
	url = https://github.com/rajgoel/reveal.js-plugins.git
[submodule "menu"]
	path = menu
	url = https://github.com/denehyg/reveal.js-menu.git
