.body {

}
#siteHeader {
    font-family: Quicksand, 'Helvetica Neue', Helvetica, Arial, sans-serif
}
#siteLogo{
    margin-top: 50px;
}
.navbar-brand {
    font-weight: bold;
    text-shadow: 2px 2px 2px #f00 !important;
}
.slides {
    margin-top: 0 !important;
}
.ttfNone {
    text-transform: none !important;
}
.ltxt {
    text-align: left;
}
.rtxt {
    text-align: right;
}
.jtxt {
    text-align: justify;
}